:root {
    --primaryLinear: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*ativar input border*/
    --primaryLinear2: hsl(278, 94%, 30%);
    --primaryRed: hsl(0, 100%, 66%); /*input error*/

    --neutraWhite: hsl(0, 0%, 100%);
    --neutraLight: hsl(270, 3%, 87%);
    --neutraDark: hsl(279, 6%, 55%);
    --neutraVerDark: hsl(278, 68%, 11%);
}

.modal {
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: -1;
    opacity: 0;
    transition: 0.1s;
}

.modal.ativo {
    z-index: 1;
    opacity: 1;
}

.modal-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.modal-conteudo p{
    color: var(--neutraDark);
}